# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# Frontend dependencies
/frontend/node_modules

# Backend dependencies
/backend/node_modules
/frontend/.pnp
/frontend/.pnp.js
/frontend/.yarn/install-state.gz

# Frontend testing
/frontend/coverage

# Frontend next.js
/frontend/.next/
/frontend/out/

# Frontend production
/frontend/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env*.local
.env

# vercel
/frontend/.vercel

# typescript
/frontend/*.tsbuildinfo
/frontend/next-env.d.ts

# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/

.AI
